//
   Created by Lionel on 02/04/2016.
doctype html
html
    head
        title
            | #{capability.id} description
        link(href='/css/fonts/google-fonts.css', rel='stylesheet', type='text/css')
        link(href="/css/stylesheets/interoperability.css", rel="stylesheet", type="text/css")
    body
div(class="contentWrapper")
    div(class="header")
        h1
            | #{capability.id}
    div(class='deviceId')
        | Id:&nbsp;
        a(href='#{capability["@id"]}') #{capability["@id"]}
    div(class='deviceType')
        | Type:&nbsp;
        a(href='#{capability["@type"]}') #{capability["@type"]}
    div(class='deviceDescription')
        | Description: #{capability.description}
    div(class='deviceValues')
        | Invocation:
        if capability.gateway
            div(class="deviceValue")
                strong Gateway:&nbsp;
                    a(href="#{capability.gateway}") #{capability.gateway}
        div(class="deviceValue")
            strong Platform:&nbsp;
                a(href='#{capability.platform}') #{capability.platform}
