div(class='device deviceActivate')
    div.deviceName
        | #{device.name}
    div(class='deviceId deviceActivate' rel='#{device["@id"]}')
        a(href='#{device["@id"]}') #{device.name}
    div.deviceDescription
        | #{device.description}