div.object
    div.objectName
        | #{object.name}
    div(class='objectId objectActivate' rel='#{object["@id"]}')
        a(href='#{object["@id"]}') #{object.id}
    div.objectDescription
        | #{object.description}